@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,300;0,600;1,400&display=swap");

:root {
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  font-size: 18px;
  font-family: "Bai Jamjuree", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  position: relative;
  font-family: "Bai Jamjuree", sans-serif;
  main {
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    margin-top: -7px;
    height: 100vh;
    > .main__top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-top: 70px;
      > img {
        height: 100px;
        width: 100px;
      }
      > .article__one {
        max-width: 50%;
        padding-bottom: 1.5rem;
        > h1 {
          color: var(--dark-grayish-blue);
          font-size: 1.7rem;
        }
        > p {
          color: var(--grayish-blue);
          font-size: 1.1rem;
        }
      }
      > .button__flex {
        display: flex;
        padding-bottom: 60px;
        gap: 1rem;
        > a {
          text-decoration: none;
          height: 50px;
          width: 200px;
          color: white;
          border-radius: 2rem;
          font-size: 1rem;
          font-weight: 600;
          padding: 0.7rem;
          text-align: center;
        }
        > .button__one {
          background-color: var(--strong-cyan);
          border-bottom: 3px solid hsl(171, 77%, 34%);
          box-shadow: 0 0.4rem 1rem hsla(171, 66%, 44%, 50%);
        }
        > .button__two {
          background-color: var(--light-blue);
          border-bottom: 3px solid hsl(233, 51%, 54%);
          box-shadow: 0 0.4rem 1rem hsl(214, 9%, 64%);
        }
      }
      > .article__two {
        max-width: 53vw;
        padding-bottom: 2rem;
        > h1 {
          color: var(--dark-grayish-blue);
          font-size: 1.7rem;
        }
        > p {
          color: var(--grayish-blue);
          font-size: 1.1rem;
        }
      }
    }
    > .main__mid1 {
      > .flex {
        display: flex;
        gap: 10%;
        width: 90%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        > img {
          height: 83%;
          width: 60%;
          margin-left: -10%;
        }
        > .column {
          margin-top: 90px;
          max-width: 30%;
          max-height: 80vh;
          > h1 {
            color: var(--dark-grayish-blue);
          }
          > p {
            color: var(--grayish-blue);
          }
        }
      }
    }
    > .main__mid2 {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      text-align: center;
      > .article__three {
        max-width: 55vw;
        padding-top: 3rem;
        padding-bottom: 4rem;
        > h1 {
          color: var(--dark-grayish-blue);
          font-size: 1.7rem;
        }
        > p {
          color: var(--grayish-blue);
          font-size: 1.1rem;
        }
      }
      > img {
        max-width: 70%;
      }
      > .article__four {
        max-width: 55vw;
        padding-bottom: 2rem;
        > h1 {
          color: var(--dark-grayish-blue);
          font-size: 1.7rem;
        }
        > p {
          color: var(--grayish-blue);
          font-size: 1.1rem;
        }
      }
    }
    > .flex {
      display: flex;
      flex: 1;
      flex-shrink: 1;
      width: 95%;
      height: 40%;
      justify-content: center;
      align-items: center;
      padding: 100px;
      gap: 2rem;
      text-align: center;
      > .flex__one {
        margin-top: 10px;
      }
      > .block {
        max-width: 500px;
        > h1 {
          color: var(--dark-grayish-blue);
          //max-width: 500px;
        }
        > p {
          color: var(--grayish-blue);
          max-width: 400px;
        }
      }
    }
    > .logos {
      max-width: 90%;
      display: flex;
      gap: 2.4rem;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      padding: 80px;
      > img {
        width: 120px;
        height: 30px;
      }
    }
    > .bottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-bottom: 50px;
      > .article__five {
        max-width: 55vw;
        padding-bottom: 2rem;
        > h1 {
          color: var(--dark-grayish-blue);
          font-size: 1.7rem;
        }
        > p {
          color: var(--grayish-blue);
          font-size: 1.1rem;
        }
      }

      > .button__flex {
        display: flex;
        padding-bottom: 60px;
        gap: 1rem;
        > a {
          text-decoration: none;
          height: 50px;
          width: 200px;
          color: white;
          border-radius: 2rem;
          font-size: 1rem;
          font-weight: 600;
          padding: 0.7rem;
          text-align: center;
        }
        > .button__one {
          background-color: var(--strong-cyan);
          border-bottom: 3px solid hsl(171, 77%, 34%);
          box-shadow: 0 0.4rem 1rem hsla(171, 66%, 44%, 50%);
        }
        > .button__two {
          background-color: var(--light-blue);
          border-bottom: 3px solid hsl(233, 51%, 54%);
          box-shadow: 0 0.4rem 1rem hsl(214, 9%, 64%);
        }
      }
    }
    > footer {
      display: flex;
      gap: 100px;
      justify-content: center;
      align-items: center;
      //min-width: 95%;
      height: 140px;
      padding: 20px;
      margin-left: -10px;
      color: var(--dark-grayish-blue);
      background-color: hsl(202, 21%, 93%);
      > .footer__one {
        > .logo {
          width: 50px;
          height: 50px;
        }
      }
      > .footer__two {
        display: flex;
        gap: 3rem;
        margin-right: 150px;
        > ul {
          list-style-type: none;
          .margin {
            margin-bottom: 0.8rem;
          }
          > li {
            display: flex;
            flex-direction: column;
            gap: 2rem;
          }
        }
      }
      > .footer__three {
        display: flex;
        gap: 1rem;
        > .icon {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
