@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,300;0,600;1,400&display=swap");

:root {
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  font-size: 18px;
  font-family: "Bai Jamjuree", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  position: relative;
  main {
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    margin-top: -7px;
    height: 100vh;
    > .main__top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-top: 70px;
      > img {
        height: 100px;
        width: 100px;
      }
      > .article__one {
        max-width: 50%;
        > h1 {
          color: var(--dark-grayish-blue);
          font-size: 1.7rem;
        }
        > p {
          color: var(--grayish-blue);
          font-size: 1.1rem;
        }
      }
      > .button__flex {
        display: flex;
        padding-bottom: 60px;
        gap: 1rem;
        > a {
          text-decoration: none;
          height: 40px;
          width: 200px;
          color: white;
          border-radius: 2rem;
          font-size: 1rem;
          padding: 0.5rem;
          text-align: center;
        }
        > .button__one {
          background-color: var(--strong-cyan);
        }
        > .button__two {
          background-color: var(--light-blue);
        }
      }
      > .article__two {
        max-width: 55vw;
        padding-bottom: 2rem;
        > h1 {
          color: var(--dark-grayish-blue);
          font-size: 1.7rem;
        }
        > p {
          color: var(--grayish-blue);
          font-size: 1.1rem;
        }
      }
    }
    > .main__mid1 {
      > .flex {
        display: flex;
        gap: 10%;
        width: 90%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        > img {
          height: 80%;
          width: 70%;
          margin-left: -60px;
        }
        > .column {
          margin-top: 90px;
          max-width: 30%;
          max-height: 80vh;
          > h1 {
            color: var(--dark-grayish-blue);
          }
          > p {
            color: var(--grayish-blue);
          }
        }
      }
    }
    > .main__mid2 {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      text-align: center;
      > .article__three {
        max-width: 55vw;
        padding-bottom: 2rem;
        > h1 {
          color: var(--dark-grayish-blue);
          font-size: 1.7rem;
        }
        > p {
          color: var(--grayish-blue);
          font-size: 1.1rem;
        }
      }
      > img {
        max-width: 70%;
      }
      > .article__four {
        max-width: 55vw;
        padding-bottom: 2rem;
        > h1 {
          color: var(--dark-grayish-blue);
          font-size: 1.7rem;
        }
        > p {
          color: var(--grayish-blue);
          font-size: 1.1rem;
        }
      }
    }
    > .flex {
      display: flex;
      max-width: 80%;
      height: 40%;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      text-align: center;
      > .flex__one {
        margin-top: 10px;
      }
      > .block {
        max-width: 500px;
        > h1 {
          color: var(--dark-grayish-blue);
          //max-width: 500px;
        }
        > p {
          color: var(--grayish-blue);
          max-width: 400px;
        }
      }
    }
    > .logos {
      display: flex;
      gap: 3.5rem;
      justify-content: center;
      align-items: center;
    }
    > footer {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      > .attribution {
        font-size: 11px;
        text-align: center;
      }
      > .attribution a {
        color: hsl(228, 45%, 44%);
      }
    }
  }
}
